<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Application Recrutement</title>
    <meta name="description" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/stylesheets/main.css" rel="stylesheet">
</head>
<header>
  <div class="container-fluid m-0 p-4 row">
    <div class="col-8">
        <p class="fs-2 fw-semibold m-0" >Paul Emploi  Nom : <%= nom %></p>
    </div>
    <div class="col-2">
      
      <%if(typeof type !== 'undefined') {%>
        <a href="/utilisateurs/deconnection" type="button" class="btn btn-secondary mt-1 rounded-0 float-end mr-3">Se déconnecter</a>
      <%};%>
    </div>
    <div class="col-2">
      <% if(boutonAccueil) { %>
        <a href="/candidat" type="button" class="btn btn-secondary mt-1 rounded-0 float-end mr-3">Accueil</a>
      <%} else if(type == 'administrateur') { %>
        <a href="/administrateur" type="button" class="btn btn-secondary mt-1 rounded-0 float-end px-1 mr-3">Administrer</a>
      <%} else if(type == 'recruteur') {%>
        <a href="/recruteur" type="button" class="btn btn-secondary mt-1 rounded-0 float-end mr-3">Recruter</a>
      <%} else if(typeof type == 'undefined') {%>
       <a href="/" type="button" class="btn btn-secondary mt-1 rounded-0 float-end mr-3">Connexion</a>
      <% } else { %>
        <div class="dropdown">
          <button type="button" class="btn btn-secondary mt-1 rounded-0 float-end mr-3" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Devenir Recruteur</button>
          <div class="dropdown-menu">
          <form method="post" action="/organisation/demandeRecruteur" class="p-4">
            <div class="mb-3">
              <% if(organisations != 'undefined'){%>
              <p> Vous êtes recruteur ? Entrez le nom de votre organisation pour demander à devenir recruteur en temps que membre de cette organisation.</p>
                <label for="exampleDropdownFormOrganisationNom" class="form-label">Organisation :</label>
                <input type="organisation" class="form-control" list="listeOrganisations" name="organisationNom" id="exampleDropdownFormOrganisationNom" placeholder="SNCF">
                <datalist id="listeOrganisations">
                  <% organisations.forEach((organisation)=> { %>
                    <option value="<%= organisation.nom %>">
                  <% })%>
                </datalist>
                
              </div>
            <button type="submit" class="btn btn-primary">Faire une demande</button>
            <% }else{%>
              <p>Votre demande est en cours de traitement.</p>
            <% }%>
          </form>
          </div>
        </div>   
      <% }; %>
          
    </div>
  </div>
</header>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>